header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $border;

    & .name {
        width: 300px;
        margin: 15px;
    }

    & .navbar {
        margin: 0;
        
        & li:first-of-type {
            border-left: 1px solid $border;
        }
    
        & li {
            padding: 15px;
            border-right: 1px solid $border;
        }
    
    }
    
    & .contact {
        padding: 13px;
        border-left: 1px solid $border;
    }

    & .active {
        border-bottom: 2px solid $primary;
    
        & a {
            color: $light;
        }
    }
}