.navigation {
    height: 100%;
    width: 66px;
    border-right: 1px solid $border;

    &__active {
        color: $light;
    }
}

.sub-navigation {
    width: 265px;
    height: 100%;

    & .title {
        width: 100%;
        color: $light;

        & p {
            margin: 10px;
            &::before {
                content: "▼";
                font-size: 10px;
                margin-right: 10px;
            }
        }
    }
}

.select-content {
    & .title {
        width: 250px;
        color: $light-blue;
        padding: 10px;

        &::after {
            content: "x";
            margin: 0 5px;
        }
    }

    & .content-section {
        position: relative;
    }

    & .scrollbar {
        width: 20px;
        position: absolute;
        right: 0;
        display: flex;
        justify-content: center;
    }

    & .rectangle {
        width: 15px;
        height: 10px;
        margin-top: 2px;
        background-color: $light-blue;
    }
}